# ~~~ Core Logic ~~~ #
faster-whisper==1.2.1
webrtcvad==2.0.10
scipy==1.16.3
numpy==2.4.0

# ~~~ Audio Handling ~~~ #
sounddevice==0.5.3
soundfile==0.13.1

# ~~~ UI / Polishing ~~~ #
# coloredlogs==15.0.1